body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

header {
	background-color: #777;
	text-align: left;
	word-spacing: 30px;
	font-size: 40px;
	color: white;
	padding: 20px;
	z-index: 100;
	height: 40px;
}

/* The side navigation menu */
div.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #111; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
div.sidenav a {
	position: static;
	width: 180px;
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 30px;
	color: #818181;
	display: block;
	transition: 0.1s;
	margin: 0;
}

div.sidenav p {
	position: static;
	font-size: 30px;
	color: #818181;
	margin: 0;
}

/* When you mouse over the navigation links, change their color */
div.sidenav a:hover {
	color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
div.sidenav .closebtn {
	position: absolute;
	top: 0;
	left: 200px;
	padding-top: 30px;
	font-size: 30px;
	margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left .5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

#mapcontainer {
	width: 100vw;
	height: calc(100vh - 50px);
}
